@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* GENERAL STYLE */
body {
    background-color: #f0f8ff;
    overflow-x: hidden;
}
.text_shadow {
    text-shadow: 0 0, 0 0 1px  #000;
}
.bgAboutImg {
    background-image: url("./assets/images/about-img.jpg");
}

.bgAboutImg p {
    line-height: 1.8rem;
}

.bgFaqImg {
    background-image: url("./assets/images/bubbles-img.jpg");
}

.bgLoginImg {
    background-image: url("./assets/images/login-img.jpg");
}
.scroll-watcher {
@supports(animation-timeline: view()) {
    animation: scroll-watcher linear;
    animation-timeline: view();
}
}

@keyframes scroll-watcher {
    from {
            opacity: 0;
            scale: 0;
        }
    to {
        opacity: 1;
            scale: 1;
    }
}